body {
  font-size: 20px;
}

header {
  background-color: maroon;
  color: white;
  height: 320px;
  padding: 20px;
  text-align: center;
}

/* Use commas to use multiple selectors instead of writing the same rule numerous times */
nav,
aside,
section,
footer {
  padding: 10px;
}

nav {
  background-color: rgb(209 133 44);
}

aside {
  background-color: olive;
}

.sample-img {
  background-color: skyblue;
  border: 1px solid black;
  height: 200px;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  /* Only the p tag that is anywhere inside the aside (the space means a general child selector) */
  aside p {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  nav {
    background-color: orange;
  }
}

@media screen and (min-width: 992px) {
  header {
    background-color: rgb(0 0 0 / 50%);
  }
}
